.tooltip {
    position: absolute;
    font: 12px sans-serif;
    background: white;
    border-radius: 5px;
    
    background-color: #ffffff;
    border:none;
    padding:10px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 16px 0 rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 3px 4px rgba(200, 200, 200, 0.5);
}
.tooltip .head_bar{
    color:#009e8e;
    font-weight:bold
}
.tooltip .port_bar{
    color:#7d878f;
    font-weight:bold
}
.tooltip .title_bar{
    font-weight:bold;
    color:#888
}
.tooltip .title_bar :first-child{
    margin-bottom:2px
}
.dot-info-div {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    border:none !important
}

.dot-info-1,
.dot-info-2 {
    width: 33%;
}

.dot-info-3 {
    width: 33%;
}

.dot-info-p-title {
    font-family: MuseoSans;
    font-size: 12px !important;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7d878f;
    margin-bottom: 0;
}

.dot-info-p-value {
    font-family: MuseoSans;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #7d878f;
    margin-bottom: 0;
}